body {
  background-color: #d4d4d2;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px;
  box-sizing: border-box;
}

h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #d4d4d2;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  box-sizing: border-box;
}

button {
  background-color: #ff9500;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #e68a00;
}

#weatherDisplay {
  margin-top: 20px;
  font-size: 16px;
  color: #333;
}

.suggestion {
  background-color: #ffffff;
  border: 1px solid #d4d4d2;
  padding: 10px;
  border-radius: 5px;
  margin: 2px 0;
  cursor: pointer;
}

.suggestion:hover {
  background-color: #ff9500;
  color: #ffffff;
}
